html.dark-mode #Body {
  background-color: #212529;
}
/*HEADER*/
html.dark-mode .Header {
  background: rgba(27, 175, 145, 0.895);
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
  border-bottom: 0.5rem solid #343a40;
  border-bottom-style: solid;
}

html.dark-mode .Sub-Botones {
  color: black;
}
html.dark-mode #Botones li > a:hover {
  color: black;
  background-color: #2f7aeb;
  transition: all 0.4s linear;
  border-radius: 0.5rem;
}

/*MAIN*/
html.dark-mode .TITULO_PRINCIPAL {
  margin-top: 6.5rem;
  display: block;
  background-color: #a7f2c7;
  color: rgba(12, 11, 11, 0.966);
  font-size: 2rem;
  text-align: center;
  height: auto;
  width: auto;
  padding: 1rem;
  border: 1.5rem #212529;
  border-style: double;
  letter-spacing: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  text-shadow: 0 1px 0 #212529, 0 2px 0 #212529, 0 3px 0 #212529,
    0 4px 0 #212529, 0 5px 8px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 30px rgba(45, 50, 214, 0.15);
}

html.dark-mode #BTN_OSCURO {
  background: black;
  transition: all 0.4s linear;
  color: rgb(255, 255, 255);
}
html.dark-mode #BTN_OSCURO:hover {
  background: rgb(255, 255, 255);
  transition: all 0.4s linear;
  color: rgb(0, 0, 0);
}

html.dark-mode #Titulo1 {
  font-family: var(--font-family);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 3%,
    rgb(255, 166, 0) 47%,
    rgba(249, 254, 249, 1) 100%
  );
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo2 {
  font-family: var(--font-family);
  background: rgb(25, 23, 23);
  background: linear-gradient(
    90deg,
    rgba(25, 23, 23, 1) 3%,
    rgb(255, 166, 0) 47%,
    rgba(2, 3, 2, 1) 100%
  );
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo3 {
  font-family: var(--font-family);
  background: rgb(25, 23, 23);
  background: linear-gradient(
    90deg,
    rgba(25, 23, 23, 1) 3%,
    rgb(255, 166, 0) 47%,
    rgba(2, 3, 2, 1) 100%
  );
  color: rgb(0, 0, 0);
}
html.dark-mode #main .container-fluid {
  border: 0.3rem solid rgb(255, 255, 255);
}
html.dark-mode #main .container-fluid .row > .col {
  border: 0.2rem solid rgb(255, 255, 255);
}
html.dark-mode #main .container-fluid .row .columna1 {
  padding: 0.8rem;
}
html.dark-mode .columna1 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Titulo1_1 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Texto1 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Titulo1_2 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Texto2 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Texto3 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Card_Tittle {
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
}
html.dark-mode #Card_Tittle:hover {
  background-color: #2e86c1;
  border-radius: 1rem;
  transition: all 0.4s linear;
  cursor: default;
}
html.dark-mode #Card_Tittle2 {
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
}
html.dark-mode #Card_Tittle2:hover {
  background-color: #3498db;
  border-radius: 1rem;
  transition: all 0.4s linear;
  cursor: default;
}
html.dark-mode #Card_Tittle3 {
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
}
html.dark-mode #Card_Tittle3:hover {
  background-color: #5dade2;
  border-radius: 1rem;
  transition: all 0.4s linear;
  cursor: default;
}
html.dark-mode #Card_Tittle4 {
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
}
html.dark-mode #Card_Tittle4:hover {
  background-color: #85c1e9;
  border-radius: 1rem;
  transition: all 0.4s linear;
  cursor: default;
}
html.dark-mode #Card_Tittle5 {
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
}
html.dark-mode #Card_Tittle5:hover {
  background-color: #aed6f1;
  border-radius: 1rem;
  transition: all 0.4s linear;
  cursor: default;
}
html.dark-mode #Card_Tittle6 {
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
}
html.dark-mode #Card_Tittle6:hover {
  background-color: #d6eaf8;
  border-radius: 1rem;
  transition: all 0.4s linear;
  cursor: default;
}
html.dark-mode #tecnicas .COLUMNAS div > {
  border: 0.5rem solid #fff;
}
html.dark-mode #Cartext {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Cartext2 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Cartext3 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Cartext4 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Cartext5 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Cartext6 {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
}
html.dark-mode #Caricon {
  color: rgb(255, 255, 255);
}
html.dark-mode #Caricon2 {
  color: rgb(255, 255, 255);
}
html.dark-mode #Caricon3 {
  color: rgb(255, 255, 255);
}
html.dark-mode #Caricon4 {
  color: rgb(255, 255, 255);
}
html.dark-mode #Caricon5 {
  color: rgb(255, 255, 255);
}
html.dark-mode #Caricon6 {
  color: rgb(255, 255, 255);
}
/*FOOTER*/
html.dark-mode #Redes_Sociales {
  font-family: var(--font-family);
  background: #58d68d;
}
html.dark-mode #Comentario {
  font-family: var(--font-family);
  background: #58d68d;
}
html.dark-mode #Suguerencias {
  font-family: var(--font-family);
  background: white;
  color: black;
}
html.dark-mode .Footer_Intermedio {
  font-family: var(--font-family);
  background: #2ecc71;
}
html.dark-mode #Sub-Footer {
  font-family: var(--font-family);
  background: rgba(27, 175, 145, 0.895);
  color: black;
}
html.dark-mode #Sub-Footer:hover {
  transition: all 0.5s linear;
  color: #ff0000;
  cursor: default;
}
html.dark-mode #Titulo_footer {
  font-family: var(--font-family);
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo_footer:hover {
  transition: all 0.5s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Titulo_footer2 {
  font-family: var(--font-family);
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo_footer2:hover {
  transition: all 0.5s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Titulo_footer3 {
  font-family: var(--font-family);
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo_footer3:hover {
  transition: all 0.5s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Titulo_footer4 {
  font-family: var(--font-family);
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo_footer4:hover {
  transition: all 0.5s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Titulo_footer5 {
  font-family: var(--font-family);
  color: rgb(0, 0, 0);
}
html.dark-mode #Titulo_footer5:hover {
  transition: all 0.5s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #BTN_ENVIAR {
  transition: all 0.4s linear;
  background-color: #0066ff;
  color: white;
}
html.dark-mode #BTN_ENVIAR:hover {
  transition: all 0.4s linear;
  background-color: #2b80ff;
  color: white;
}
html.dark-mode #Columna_footer0 > p {
  color: black;
}
html.dark-mode #Columna_footer > p {
  color: black;
}
html.dark-mode #Columna_footer2 > p {
  color: black;
}
html.dark-mode #Columna_footer3 > P {
  color: black;
}
html.dark-mode #Columna_footer4 > P {
  color: black;
}
html.dark-mode #Columna_footer0 > p:hover {
  transition: all 0.4s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Columna_footer > p:hover {
  transition: all 0.4s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Columna_footer2 > p:hover {
  transition: all 0.4s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Columna_footer3 > P:hover {
  transition: all 0.4s linear;
  color: #ffffff;
  cursor: default;
}
html.dark-mode #Columna_footer4 > P:hover {
  transition: all 0.4s linear;
  color: #ffffff;
  cursor: default;
}
