/*VARIABLE*/
:root{
 --font-family: 'Times New Roman', Times, serif;
 --color: rgb(0, 0, 0);
 --padding: 1px 1px;
 --font-size: 0.8rem;
}
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
header{
    display: inline-block;
    background-color: rgb(255, 0, 0);
}
.Elementos{
    padding: 0rem 0rem 0rem 0rem;
}
.nav {
    display: flex;
    list-style: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height:  12rem;
    width: 22.5rem;
    border: 0.3rem solid rgb(0, 0, 0);

}
.nav li {
    display: flex;
    list-style: none;
    font-size: 1rem;
}
.nav li a{
    text-decoration:none;
    color: var(--color);
    font-family: var(--font-family);
}
.item {
    border: 0.3rem solid rgb(70, 30, 30);
    padding: 0.5rem 1.2rem 0.5rem 1rem;
    margin:  -7.7rem  1.8rem 0.6rem 9.1rem;
}
.item:hover {
    background-color: rgb(190, 22, 0);
    text-decoration: rgb(0, 0, 0);
    font-size: 1.1rem;
}
.item2 {
    border: 0.3rem solid rgb(211, 21, 21);
    flex-direction: row-reverse;
    padding: 0.5rem 0.6rem 0.5rem 0.5rem;
    margin:  0.8rem  0.8rem 0.6rem 7.5rem;
    color: black;
}
.item2:hover {
    background-color: rgb(211, 21, 21);
    text-decoration: aqua;
    font-size: 1.1rem;
}
.item3 {
    border: 0.3rem solid rgb(226, 21, 21);
    flex-direction: row;
    padding: 0.5rem 0.3rem 0.5rem 0.2rem;
    margin: 0.8rem  12.2rem 0rem 0.6rem;
   
}
.item3:hover {
    background-color: rgb(226, 21, 21);
    text-decoration: aliceblue;
    font-size: 1.1rem;
}
.item4 {
    border: 0.3rem solid rgb(245, 50, 50);
    flex-direction: row-reverse;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    margin: -2.76rem 2rem 0rem 11rem;

}
.item4:hover {
    background-color: rgb(245, 50, 50);
    text-decoration: aliceblue;
    font-size: 1.1rem;
}
.dark-mode-button{
    position: relative;
    top: -5.8rem;
    left: 6.2rem;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    background: rgb(255, 255, 255);
    color: black;
} 
.dark-mode-button:hover{
   cursor: pointer;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}
.IMG {
    display: grid;
    margin: 1rem  0rem 0rem 0.5rem;
}
.Elementos .IMG img {
    /*border: 0.3rem solid rgb(245, 50, 50);*/
    display: flex;
    width: 5.5rem;
    height: 6.5rem;
}
.Titulo{
    background-color:rgb(255, 0, 0);
    display: flex;
    position: relative;
    border: 0.3rem solid rgb(0, 0, 0);
    justify-content: center;
    min-height: 2rem;
    min-width: 22.5rem;
    font-size: 1.1rem;
    font-family: var(--font-family);
}
.box{
    border: 0.3rem solid rgb(0, 0, 0);
    display: inline-grid;

}
.box p img {
   margin: -30px 10px 10px 180px;
   display: flex;
   height:100px; 
   width:100px;
}

.footer{
    min-height: 1rem;
    min-width: 22.5rem;
    display: flex;
    position: relative;
    border: 0.3rem solid rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
}
.container{
    display: grid;
    grid-template-columns:2rem 8rem 6.5rem 4.64rem;
    grid-template-rows:8.5rem;
    gap: 0.2rem ;
    /*grid-template-rows: minmax(10px,auto);*/
    
    /* Horizontal*/
    /*justify-items: end;*/
    /*Vertical*/
    /*align-items: stretch;*/
}

.column{
    display: grid;
    grid-template-rows: minmax(1rem,auto);
    grid-template-columns: minmax(1.5rem,auto);
    justify-items:center;
    align-items: center;
    gap: 0.1rem;
}
.column_2{
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns:100%;
    grid-template-rows: 2rem 2.2rem 2.2rem 2.2rem;
}
.column_3{
    font-family: var(--font-family);
    font-size:  var(--font-size);
    display: grid;
    justify-content: start;
    grid-template-columns:100%;
    grid-template-rows: 2rem 1.6rem 1.6rem 1.6rem 1.6rem;
}
.column_4{
    font-family: var(--font-family);
    font-size:  var(--font-size);
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 2rem 1.1rem 1.1rem 1.1rem 1.1rem 1.1rem 1rem ;
}
.enlace{
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.column_3 .TITULO2{
    display: grid;
    align-items: center;
    justify-items: Center;
}
/*.container >div{
    border: 1px solid rgb(255, 0, 0);
}
.container .column_2 >div{
    display: grid;
    align-items: center;
    border: 1px solid rgb(165, 165, 165);
}
.container .column_3 >div{
    display: grid;
    align-items: center;
    border: 1px solid rgb(132, 0, 255);
}
.container .column_4 >div{
    display: grid;
    align-items: center;
    border: 1px solid rgb(0, 217, 255);
} */
