:root{
--font-family: 'Courier New', Courier, monospace;
}
*{
    box-sizing: border-box;
    padding:0rem;
    margin:0rem;
}
#Body{
    background-color:#f8f9fa;
}
/*HEADER*/
.Header{
    background:#3498DB;
    font-family:var(--font-family);

}
 
#Devolver{
    background-color: #dc3545;
    color:white;
}
#Devolver:hover{
    transition: all 0.4s linear;
    background-color: #ff1900;
    color:white;
}
#Marca{
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size:1.1rem;
    margin-left: -0rem;
}
#Item{
    color:rgb(0, 0, 0);
}
#dark-mode{
  background-color:rgb(0, 0, 0);
}
#MOD_DARK{
    color:rgb(255, 255, 255);
    Cursor:pointer;
}
#dark-mode:hover{
    transition: all 0.4s linear;
    border-radius: 0.8rem;
}
/*FORMULARIO*/
#login-correo{
  background:#ced4da;
  color:black;
} 
#login-password{
  background:#ced4da;
  color:black;
} 
#Label_correo,#Label_pw{
    color:black;
    font-family:var(--font-family);
}
#Recuperacion{
    color:black;
    font-family:var(--font-family);
    cursor: pointer;
}
#Recuperacion:hover{
    color:#0d6efd;
    transition: all 0.4s linear;
    cursor: pointer;
}
#Boton_Login{
    background: #2ECC71;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Boton_Login:hover{
    background: #58D68D;
    transition: all 0.4s linear;
    border-radius: 0.8rem;
}
/*ACCEDEER CON*/
.TITULO{
    background: #D6EAF8;
    color:black;
    font-family:var(--font-family);
}